<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".login.GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:usesCleartextTraffic="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_moing_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moing_Day"
        tools:targetApi="31">
        <activity
            android:name=".mypage.MyPageModifyActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.MyPageAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.MyPageDropOutActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.MyPageActivity"
            android:exported="false" />
        <activity
            android:name=".mission.MissionPassActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".mission.MissionReviseActivity"
            android:exported="false" />
        <activity
            android:name=".mission.MissionCreateActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".mission.MissionClickActivity"
            android:exported="true" />
        <activity
            android:name=".board.notice.NoticeInfoActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".board.notice.NoticeWriteActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".board.notice.NoticeVoteActivity"
            android:exported="true" />
        <activity
            android:name=".board.vote.VoteInfoActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".board.vote.BoardMakeVote"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".board.BoardFixTeamActivity"
            android:exported="false" />
        <activity
            android:name=".board.BoardActivity"
            android:exported="true" />
        <activity
            android:name=".team.MakeTeamActivity4"
            android:exported="false" />
        <activity
            android:name=".team.MakeTeamActivity3"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".team.MakeTeamActivity2"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".team.MakeTeamActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".team.InviteSuccessTeamActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".team.InviteTeamActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".team.AddTeamActivity"
            android:exported="false" />

        <service
            android:name=".fcm.FCMService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".login.RegisterInputAddressActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".login.RegisterInputNameActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".login.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".mission.MissionStatusActivity"
            android:exported="true" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao877d84c9c8b609abd803b36914a8fbeb" />
            </intent-filter>
        </activity>
    </application>

</manifest>